<div class="banner">
	<a href="reservations.php" title="Reserve with us Now!">
		<div class="ribbon">
			Book Now <i class="fa fa-arrow-circle-o-right"></i>
		</div>
	</a>
	<div class="home-banner banner-hidden">
		<img src="img/banners/pool-banner.png" alt="Home Banner">
		<div class="banner-caption">
			Our Indoor Pool
		</div>
	</div>
	<div class="promise-banner banner-hidden">
		<img src="img/banners/promise-banner.png" alt="Our Promise Banner">
	</div>
	<div class="policy-banner banner-hidden">
		<img src="img/banners/policy-banner.png" alt="Our Policies Banner">
		<div class="banner-caption">
			Our Policies
		</div>
	</div>
	<div class="media-banner banner-hidden">
		<img src="img/banners/media-banner.png" alt="Park9 Media Banner">
		<div class="banner-caption">
			Tetley
		</div>
	</div>
	<div class="employment-banner banner-hidden">
		<img src="img/banners/employment-banner.png" alt="Employment Banner">
		<div class="banner-caption">
			Blue
		</div>
	</div>
	<div class="overnight-dogs-banner banner-hidden">
		<img src="img/banners/overnight-dogs-banner.png" alt="Overnight for Dogs Banner">
		<div class="banner-caption">
			Angus
		</div>
	</div>
	<div class="overnight-cats-banner banner-hidden">
		<img src="img/banners/overnight-cats-banner.png" alt="Overnight for Cats Banner">
		<div class="banner-caption">
			Pooka
		</div>
	</div>
	<div class="playcare-banner banner-hidden">
		<img src="img/banners/playcare-banner.png" alt="Park9 Playcare Banner">
		<div class="banner-caption">
			Cedar and Tasha
		</div>
	</div>
	<div class="pool-banner banner-hidden">
		<img src="img/banners/home-banner.png" alt="Our Indoor Pool Banner">
		<div class="banner-caption">
			World Class Accomodations
		</div>
	</div>
	<div class="webcam-banner banner-hidden">
		<img src="img/banners/webcam-banner.png" alt="Webcam Banner">
		<div class="banner-caption">
			Paxton
		</div>
	</div>
	<div class="new-client-banner banner-hidden">
		<img src="img/banners/new-client-banner.png" alt="New Clients Banner">
		<div class="banner-caption">
			Reggie
		</div>
	</div>
	<div class="returning-client-banner banner-hidden">
		<img src="img/banners/returning-client-banner.png" alt="Returning Clients Banner">
		<div class="banner-caption">
			Lily
		</div>
	</div>
	<div class="gallery-banner banner-hidden">
		<img src="img/banners/gallery-banner.png" alt="Gallery Banner">
		<div class="banner-caption">
			Bruiser
		</div>
	</div>
	<div class="boutique-banner banner-hidden">
		<img src="img/banners/boutique-banner.png" alt="Boutique Banner">
		<div class="banner-caption">
			Sensible Products with a Conscience
		</div>
	</div>
	<div class="blog-banner banner-hidden">
		<img src="img/banners/blog-banner.png" alt="Blog Banner">
		<div class="banner-caption">
			Tasha and Domingo
		</div>
	</div>
	<div class="contact-banner banner-hidden">
		<img src="img/banners/contact-banner.png" alt="Contact Banner">
		<div class="banner-caption">
			Franny
		</div>
	</div>
	<div class="team-banner banner-hidden">
		<img src="img/banners/team-banner.png" alt="Our Team Banner">
		<div class="banner-caption">
			Marty, Oreo, Ray Ray and friends
		</div>
	</div>
</div>

<div class="social-section">
	<h2>Get Social With Us. <span style="text-transform:none;color:#353535;font-weight:400;">Learn about promotions. Get Tricks + Tips. See lots of Puppy Love.</span></h2>

	<a href="https://www.facebook.com/pages/Park9/1548153072085732" title="Visit our Facebook Page" target="_blank" class="facebook">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="https://twitter.com/park9dogs" title="Visit our Twitter Page" target="_blank" class="twitter">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<!-- <a href="#" target="_blank" class="google">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="#" target="_blank" class="pinterest">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-pinterest-p fa-stack-1x fa-inverse"></i>
		</span>
	</a> -->
	<a href="https://www.instagram.com/park9dogs/" title="Visit our Instagram Page" target="_blank" class="instagram">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="https://www.youtube.com/channel/UC7SfpB3YiC0-Bq8g4AynBWg" target="_blank" class="youtube">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
		</span>
	</a>
</div>